@import "tailwindcss";

@theme {
  --color-canadian-red: #D80621;
  --color-canadian-red-light: #E84558;
  --color-canadian-red-dark: #A9041A;

  --color-background: #FAFAFA;
  --color-foreground: #111111;

  --color-card: #FFFFFF;
  --color-card-foreground: #111111;

  --color-muted: #F3F4F6;
  --color-muted-foreground: #6B7280;

  --color-border: #E5E7EB;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}